connectionProperties.user={{ hostvars.localhost.teamcity_database_username }}
connectionProperties.password={{ hostvars.localhost.teamcity_database_password }}
connectionUrl=jdbc\:mysql\://{{ hostvars.localhost.teamcity_database_endpoint }}\:{{ hostvars.localhost.teamcity_database_port }}/teamcity

